@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow-x: hidden;
  color: #625772;
  font-size: 20px;
  font-weight: 300;
}

.text-left {
  text-align: left;
}

header {
  /* background-color: #ffe2e1; */
  background-size: cover;
  height: 150px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.header-nav {
  background-color: #ffe2e1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 100px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.header-contacts a {
  display: flex;
  align-items: center;
}

.header-contacts img {
  width: 20px;
  margin-right: 10px;
}

header nav {
  text-align: center;
}

nav a,
.header-contacts a {
  margin: 0 10px;
  text-decoration: none;
  color: #625772;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

nav a:before,
.header-contacts a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: #625772;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

nav a:hover:before,
.header-contacts a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.header-contacts a {
  font-size: 17px;
}

.header-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.header-text h1 {
  font-size: 2.5rem;
  color: #625772;
  text-transform: uppercase;
  font-weight: 100;
}

.header-text h2 {
  font-size: 2rem;
  color: #625772;
  text-transform: uppercase;
  font-weight: 200;
}

header .humb {
  display: none;
}

.humb {
  padding: 5px;
  overflow: hidden;
  top: 40px;
  right: 100px;
  z-index: 10;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.bar-wrap {
  transition: 0.2s;
  overflow: hidden;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 3px auto;
  background-color: #625772;
}

.active .bar-wrap:nth-child(1) {
  transform: translate(0, 100%) rotate(45deg);
}

.active .bar-wrap:nth-child(3) {
  transform: translate(0, -100%) rotate(-45deg);
}

.active .bar-wrap:nth-child(2) {
  opacity: 0;
}

main {
  display: grid;
  gap: 40px;
  padding: 210px 50px 50px;
  background-image: url(../images/back.png);
  background-size: 120%;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

section:nth-of-type(odd) {
  background-color: rgb(172 172 172 / 10%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 1.6rem;
  color: #625772;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 auto 30px;
}

section h2::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  height: 2px;
  bottom: 0;
  margin: -8px auto;
  background-color: #625772;
}

section ul {
  margin-left: 50px;
}

section p {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffcccb;
}

.about {
  max-width: 1000px;
  margin: 0 auto;
}

.about p {
  font-size: 1.25rem;
  line-height: 2.25rem;
}
img {
  max-width: 100%;
  display: block;
}

/* gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery > div {
  display: inline-block;
  width: 100%;
  height: 20vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.gal-img {
  transition: 0.2s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 19vw;
}

.gal-img:hover {
  transform: scale(1.3);
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 5;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
  margin: 0 auto;
  height: 75vh;
}

/* Video */

.video {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.video-item {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.video-item img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 10vw;
  transition: 0.2s ease-in-out;
}

.video-item:hover img {
  -webkit-filter: none;
  filter: none;
}

.play-button {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(98, 87, 114);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
  position: absolute;
}

.play-button:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  background: #ffe2e1;
  border-radius: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s;
}

.video-item:hover .play-button:before,
.play-button:hover:before {
  width: 100%;
  height: 100%;
}

.play-icon {
  width: 0;
  height: 0;
  border-left: 25px solid rgb(98, 87, 114);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-left: 7px;
  z-index: 2;
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  header .humb {
    display: block;
  }
  header nav {
    display: none;
  }
  header.active nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 126px;
    background-color: #fff;
    left: 0;
    right: 0;
    padding: 20px;
    height: 100vh;
  }
  nav a {
    display: inline-block;
    margin: 12px auto;
  }
  .modal img {
    height: 500px;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
  section {
    margin: 0 15px;
  }
  .header-logo img {
    width: 70px;
  }
  header.active nav {
    top: 90px;
  }
  .header-nav {
    padding: 10px 15px;
  }
  .header-contacts {
    gap: 5px;
  }
  .header-contacts a {
    font-size: 15px;
  }
  main {
    padding: 130px 20px 20px;
    background-size: auto;
    gap: 15px;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery > div {
    height: 32vw;
  }
  .gal-img {
    height: 28vw;
  }

  .video {
    grid-template-columns: repeat(1, 1fr);
  }
  .video-item img {
    height: 40vw;
  }
}

@media (max-width: 370px) {
  .header-contacts a {
    font-size: 12px;
  }
}
